@{
    ViewData["Title"] = "Акаунти и пароли";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h1>Акаунти и пароли</h1>
<br />

<table class="table table-hover" style="width:25%; border: 1px solid black;">
    <tr>
        <th style="border: 1px solid black;">Акаунт</th>
        <th style="border: 1px solid black;">Парола</th>
    </tr>
    <tr>
        <td>editor@mr-bricolage.bg</td>
        <td>Pass123</td>
    </tr>
    <tr>
        <td>София 1</td>
        <td>14</td>
    </tr>
    <tr>
        <td>София 2</td>
        <td>28</td>
    </tr>
    <tr>
        <td>София 3</td>
        <td>73</td>
    </tr>
    <tr>
        <td>Пловдив 1</td>
        <td>57</td>
    </tr>
    <tr>
        <td>Пловдив 2</td>
        <td>75</td>
    </tr>
    <tr>
        <td>Варна</td>
        <td>vn</td>
    </tr>
    <tr>
        <td>Бургас</td>
        <td>45</td>
    </tr>
    <tr>
        <td>Добрич</td>
        <td>32</td>
    </tr>
    <tr>
        <td>Русе</td>
        <td>52</td>
    </tr>
    <tr>
        <td>Плевен</td>
        <td>41</td>
    </tr>
    <tr>
        <td>Благоевград</td>
        <td>23</td>
    </tr>
    <tr>
        <td>Перник</td>
        <td>77</td>
    </tr>
</table>