@{
    ViewBag.Title = "Потребители";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<div class="text-center row">
    <table class="table table-condensed table-hover border">
        <thead>
            <tr>
                <th>Номер</th>
                <th>Дата на създаване</th>
                <th>Име на клиента</th>
                <th>Номер на клиента</th>
                <th>Експресна</th>
                <th>Цена на материалите</th>
                <th>Цена на кантирането</th>
                <th>Крайна цена</th>
                <th>Детайли</th>
            </tr>
        </thead>
        <tbody>


        </tbody>
    </table>
</div>