@{
    ViewData["Title"] = "Помощ";
}

<h1 class="text-center">Помощ</h1>

<hr />
<div class="container">
    <p>При проблеми и въпроси свързани с приложението, моля обърнете се към Оперативният център на магазини Mr.Bricolage</p>
    <br />
    <ul>
		<li>Чрез приложението Request Ticket, което е инсталирано на всеки един компютър - <img src="~/img/request-ticket.jpg" /></li>
        <li>По мейл: suport1@mr-bricolage.bg</li>
        <li>На кратък номер 5555 или на 0882 458424</li>
    </ul>
</div>