@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="index-page-greeting">WoodWorking</h1>
    <p class="index-page-greeting-p">Mr.Bricolage WoodWorking Solution</p>

    <img src="~/img/home.png" style="width: 75vh" />
</div>