@{
    const int projectDate = 2023;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WoodWorking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" href="/admin/home/index">WoodWorking</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/home/index">Начало</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/order/new">Нова поръчка</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/order/all">Търсене на поръчки</a>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">Материали</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href="/material/all">Всички материали</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/material/add">Добавяне на материал</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">Кантове</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li>
                                    <a class="dropdown-item" href="/edge/all">Всички кантове</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/edge/joined">Селектирани кантове</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/edge/add">Добавяне на кант</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-mdb-toggle="dropdown" aria-expanded="false">Магазини</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <li><a class="dropdown-item" href="/contact/all">Всички магазини</a></li>
                                <li><a class="dropdown-item" href="/contact/add">Добавяне на магазин</a></li>
                                <li><a class="dropdown-item" href="/contact/associate">Асоциация на магазин</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home/about">За приложението</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/home/help">Помощ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/Identity/Account/Register">Регистрация на нов потребител</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/admin/home/accounts">Акаунти</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" title="Manage" href="/Identity/Account/Manage">Здравейте, <strong>@User.Identity?.Name!</strong></a>
                        </li>
                        <li class="nav-item">
                            <form class="form-inline" action="/Identity/Account/Logout?returnUrl=%2F" method="post">
                                <button type="submit" class="nav-link btn btn-link text-white">Logout</button>
                                <input name="__RequestVerificationToken" type="hidden" value="CfDJ8HyciOTHGx1Mg-q-D3e-SyrJElEgqRIC9AlvE4CxH7bFlyUyvsPWneiPv6llTFApws36XfV8oL2ggVdZpgGGTDTjZVbvbdyk3ucvBw1G8exQbBEWSMII7_gG0uWcMODA-L291HiqGNKtrMGSEtG8LTfht5W9GRLW-eNPeSt4iTzJK35rz96lWHdJvCVOhHj0KA">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            @projectDate
            @if (projectDate != DateTime.UtcNow.Year)
            {
                @Html.Raw($" - {DateTime.UtcNow.Year}")
            }
            г. - www.mr-bricolage.bg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>