html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-light .navbar-brand:hover {
    text-decoration: underline;
    color: white;
}

.nav-item:hover {
    text-decoration: underline;
}

.btn-primary {
    background-color: #2baf2b;
    border-color: #2baf2b;
}

    .btn-primary:hover {
        background-color: white;
        background-color: #2baf2b;
        border-color: #2baf2b;
    }

.col-4 {
    width: 23%;
    margin: 10px;
}

.btn-success {
    background-color: #2baf2b;
    border-color: #2baf2b;
}

.btn-success:hover, .btn-primary:hover {
    background-color: white;
    border-color: #2baf2b;
    color: #2baf2b;
}

.btn-danger:hover {
    background-color: white;
    border-color: red;
    color: red;
}

.card {
    border: 1px solid #2baf2b;
}

.form-floating{
    margin: 10px
}

.error{
    color: red;
}